@using KingOffice.Resources;
@{
    ViewBag.Title = "Tạo hồ sơ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model String

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-caret-right"></i>
                <a href="#">Tạo hợp đồng</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">1.Thông tin khách hàng:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtHoTen" placeholder="Nhập họ tên" class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày nhận đơn đề nghị<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtToDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại khách hàng<span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtDienThoai" placeholder="Nhập số điện thoại khách hàng" class="form-control">
                        </div>
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại nhân viên</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtDienThoai2" placeholder="Nhập số điện thoại nhân viên" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số CMND<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtCMND" placeholder="Nhập số CMND" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Giới tính</label>
                        <div class="col-sm-4">
                            <select id="ddlGioiTinh" class="chosen-select form-control">
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tỉnh/TP<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlTinh" class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Quận/huyện<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlHuyen" class="chosen-select form-control" data-placeholder="Chọn quận huyện">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Địa chỉ<span class="required">(*)</span></label>
                        <div class="col-sm-10">
                            <textarea type="text" id="txtDiaChi" placeholder="Nhập địa chỉ" class="form-control"></textarea>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Sale Code</label>
                            <div class="col-sm-4">
                                <select id="ddlInternalCode" class="chosen-select form-control" data-placeholder="Chọn Sale Code">
                                    <option value="0"></option>
                                </select>
                            </div>
                            <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên nhân viên</label>
                            <div class="col-sm-4">
                                <input type="text" id="txtTenNV" data-toggle-tt="tooltip" placeholder="Tên nhân viên" class="form-control" />
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Courier Code</label>
                        <div class="col-sm-4">
                            <select id="ddlCourier" class="chosen-select form-control" data-placeholder="Chọn courier code">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">2.Thông tin khoản vay và sản phẩm:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tên ngân hàng<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlDoiTac" class="chosen-select form-control" data-placeholder="Chọn đối tác">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Sản phẩm vay<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlSanPhamVay" class="chosen-select form-control" data-placeholder="Chọn sản phẩm vay">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4  col-md-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input name="form-field-checkbox" id="cbbaohiem" type="checkbox" class="ace">
                                    <span class="lbl">Không đề nghị mua bảo hiểm dư TD cá nhân</span>
                                </label>
                            </div>
                        </div>
                        <label style="display:none" for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên cửa hàng<span class="required">(*)</span></label>
                        <div class="col-sm-4" style="display:none">
                            <input type="text" id="txtTenCuaHang" placeholder="Nhập tên của hàng" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số tiền đề nghị vay<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtTienDeNghiVay" placeholder="Nhập số tiền đề nghị vay" class="form-control">
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Thời hạn vay</label>
                        <div class="col-sm-4">
                            <input type="text" id="spnThoiHanVay" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">3.Hồ sơ đính kèm:</h3>
                <div class="row">
                    <div class="col-xs-12" style="overflow-y: scroll;max-height:400px;">
                        @*<form class="form-horizontal" role="form" id="tbDoc"></form>*@
                        @*<ul class="nav nav-tabs padding-16" id="ds-hoso">

                            </ul>*@
                    </div>
                </div>

            </div>

        </div>
        <div class="ui-information">
            <div class="ui-information-head">
                @*<span class="ui-information-title">Hình ảnh sản phẩm</span>*@
            </div>
            <div class="ui-information-body">
                <div class="form-group p-0">

                </div>
                <div class="ui-product-photo productInfoNew-uploadImage">
                    <ul class="ui-product-photo-grid clearfix" id="ds-hoso">
                        @*<li class="ui-product-photo-item d-block">
                                <div class="file-upload position-relative is-dragging" id="upload-area">
                                    <DIV class="dz-message needsclick">
                                        <div class="fileupload-text text-center">
                                            <svg class="svg-next-icon svg-next-icon-size-30" width="30" height="30">
                                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 490.667 490.667" fill="#6C798F">
                                                    <path d="M448,128h-67.627l-39.04-42.667H192v64h-64v64H64v213.333c0,23.467,19.2,42.667,42.667,42.667H448c23.467,0,42.667-19.2,42.667-42.667v-256C490.667,147.2,471.467,128,448,128z M277.333,405.333c-58.88,0-106.667-47.787-106.667-106.667S218.453,192,277.333,192S384,239.787,384,298.667S336.213,405.333,277.333,405.333z">
                                                    </path>
                                                    <polygon points="64,192 106.667,192 106.667,128 170.667,128 170.667,85.333 106.667,85.333 106.667,21.333 64,21.333 64,85.333 0,85.333 0,128 64,128 			">
                                                    </polygon>
                                                    <path d="M277.333,230.4c-37.76,0-68.267,30.507-68.267,68.267h0c0,37.76,30.507,68.267,68.267,68.267c37.76,0,68.267-30.507,68.267-68.267S315.093,230.4,277.333,230.4z"></path>
                                                </svg>
                                            </svg>
                                            <p class="mb-0 mt-2 text-secondary">Thêm hình ảnh</p>
                                        </div>
                                    </DIV>

                                </div>
                            </li>*@
                        @*<li class="ui-product-photo-item d-block">
                                <div class="file-upload position-relative is-dragging" id="upload-area2">
                                    <DIV class="dz-message needsclick">
                                        <div class="fileupload-text text-center">
                                            <svg class="svg-next-icon svg-next-icon-size-30" width="30" height="30">
                                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 490.667 490.667" fill="#6C798F">
                                                    <path d="M448,128h-67.627l-39.04-42.667H192v64h-64v64H64v213.333c0,23.467,19.2,42.667,42.667,42.667H448c23.467,0,42.667-19.2,42.667-42.667v-256C490.667,147.2,471.467,128,448,128z M277.333,405.333c-58.88,0-106.667-47.787-106.667-106.667S218.453,192,277.333,192S384,239.787,384,298.667S336.213,405.333,277.333,405.333z">
                                                    </path>
                                                    <polygon points="64,192 106.667,192 106.667,128 170.667,128 170.667,85.333 106.667,85.333 106.667,21.333 64,21.333 64,85.333 0,85.333 0,128 64,128 			">
                                                    </polygon>
                                                    <path d="M277.333,230.4c-37.76,0-68.267,30.507-68.267,68.267h0c0,37.76,30.507,68.267,68.267,68.267c37.76,0,68.267-30.507,68.267-68.267S315.093,230.4,277.333,230.4z"></path>
                                                </svg>
                                            </svg>
                                            <p class="mb-0 mt-2 text-secondary">Thêm hình ảnh</p>
                                        </div>
                                    </DIV>

                                </div>
                            </li>*@
                    </ul>
                </div>
                @*<div class="dz-preview dz-image-preview" id="preview-template">
                        <div class="dz-image">

                        </div>
                        <div class="dz-details">
                            <div class="dz-size"></div>
                            <div class="dz-filename"></div>
                        </div>
                        <div class="dz-error-mark">
                            <a class="dz-remove" href="javascript:undefined;" data-dz-remove="">Xóa</a>
                        </div>
                    </div>*@
                <div id="preview-template">
                    <div class="dz-preview dz-file-preview well" id="dz-preview-template">
                        <div class="dz-details">
                            <div class="dz-filename"><span data-dz-name></span></div>
                            <div class="dz-size" data-dz-size></div>
                        </div>
                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                        <div class="dz-success-mark"><span></span></div>
                        <div class="dz-error-mark"><span><a class="dz-remove" href="javascript:undefined;" data-dz-remove="">Xóa</a></span></div>
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <hr />
                <form class="form-horizontal">
                    <h4 class="header lighter orange"><i class="ace-icon fa fa-bell"></i>Ghi chú hồ sơ</h4>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Ghi chú</label>
                        <div class="col-md-11 col-sm-12 col-xs-12">
                            <textarea class="form-control" id="txtGhiChu" style="margin: 0px -4.5px 0px 0px; height: 50px;" placeholder="Nhập ghi chú"></textarea>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-sm btn-primary" id="btn_Temp">
                            Lưu tạm
                        </a>
                        <a class="btn btn-sm btn-primary" id="btn_Save">
                            Nộp hồ sơ
                        </a>
                        <a class="btn btn-sm btn-primary" id="btn_Upload">
                            Upload Hồ sơ
                        </a>
                        @*<a class="btn btn-sm btn-primary" href="/HoSo/AddNew" id="btn_addNew">
                                Tạo mới
                            </a>*@
                    </div>
                </form>
            </div>
            <div class="col-xs-12">
                <div class="col-md-8 activity-log">
                    <div class="timline-addNote only-new-note">
                        <div class="timeline-date-event timline-date-event--margin mt-0" id="dsGhichu">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        Dropzone.autoDiscover = false;
        $(document).ready(function e() {
            setTimeout(function () {
                $('#sidebar li[id="4"]').addClass('active');
            }, 500);
            $('#ddlSanPhamVay').chosen({ width: '100%', allow_single_deselect: true });
            $('#ddlCourier').chosen({ width: '100%', allow_single_deselect: true });
            $('#ddlHuyen').chosen({ width: '100%', allow_single_deselect: true });
            $('#ddlTinh').chosen({ width: '100%', allow_single_deselect: true });
            $('#txtToDate').datepicker({
                dateFormat: 'dd-mm-yy'

            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
            $("#txtToDate").datepicker({ dateFormat: 'yy/mm/dd' }).datepicker("setDate", new Date().getDay + 0);
        });
    </script>
    <script>

        $("#txtDienThoai").ForceNumericOnly();
        $("#txtDienThoai2").ForceNumericOnly();
        $("#txtTienDeNghiVay").ForceNumericOnly();
        $("#txtCMND").ForceNumericOnly();
        $("#txtTienDeNghiVay").change(function () {
            $("#txtTienDeNghiVay").val(formatCurrency($("#txtTienDeNghiVay").val().replace(/\./g, '')));
        });
    </script>
    <script>
        var hoso = {
            ID: 0,
            MaHoSo: null,
            CourierCode: 0,
            TenKhachHang: null,
            CMND: null,
            DiaChi: null,
            MaKhuVuc: 0,
            SDT: null,
            SDT2: null,
            GioTinh: 0,
            MaNguoiTao: 0,
            HoSoCuaAi: 0,
            KetQuaHS: null,
            NgayNhanDon: null,
            MaTrangThai: 0,
            Sanphamvay: 0,
            Doitac: 0,
            CoBaoHiem: 0,
            SoTienVay: 0,
            HanVay: 0,
            TenCuaHang: null,
            Ghichu: null
        };
    $(document).ready(function () {
        LayDSTaiLieu();
        getPartners();
        LayDSTinh();
        LayDSCourier();
        @*LayDSale('@ViewBag.MaNV');*@
        $('#ddlDoiTac').on('change', function () {
            getProductByPartnetId(this.value);
        });
        $('#ddlTinh').on('change', function () {
            LayDSHuyen(this.value);
        });
        $('#ddlInternalCode').on('change', function () {
             $('#txtTenNV').val( $('option:selected', this).attr('ten'));
        });
    });

    $('#spnThoiHanVay').ace_spinner({ value: 0, min: 0, max: 36, step: 3, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
				.closest('.ace-spinner')
				.on('changed.fu.spinbox', function () {
				    //alert($('#spinner1').val())
				});

    function LayDSTinh() {
        $.ajax({
            type: "GET",
            url: '/locations/provinces',

            success: function (data) {
                $('#ddlTinh').empty();
                $('#ddlTinh').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlTinh').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlTinh').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    function LayDSCourier() {
        $.ajax({
            type: "GET",
            url: '/employee/courier',
            data: {},
            success: function (data) {
                $('#ddlCourier').empty();
                $('#ddlCourier').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlCourier').append("<option value='" + optionData.ID + "'>" + optionData.FullText + "</option>");
                    });
                }
                $('#ddlCourier').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    function LayDSHuyen(maTinh) {
        $.ajax({
            type: "GET",
            url: '/locations/districts/' + maTinh,

            success: function (data) {
                $('#ddlHuyen').empty();
                $('#ddlHuyen').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlHuyen').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlHuyen').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    function getPartners() {
        $.ajax({
            type: "GET",
            url: '/partners',
            success: function (data) {
                $('#ddlDoiTac').empty();
                $('#ddlDoiTac').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlDoiTac').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlDoiTac').chosen().trigger("chosen:updated");
            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }


    function getProductByPartnetId(maDoiTac) {

        let doitacId = parseInt(maDoiTac)
        $.ajax({
            type: "GET",
            url: `/products/${doitacId}`,
            success: function (data) {
                $('#ddlSanPhamVay').empty();
                $('#ddlSanPhamVay').append("<option value='0'></option>");
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlSanPhamVay').append("<option value='" + optionData.ID + "'>" + optionData.Ten + "</option>");
                    });
                }
                $('#ddlSanPhamVay').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }

    function LayDSale(maNV) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LayDSSale", "HoSo")',
            data: { },
            success: function (data) {
                $('#ddlInternalCode').empty();
                $('#ddlInternalCode').append("<option value='0'></option>");
                var ten = '';
                if (data != null) {
                    $.each(data.data, function (index, optionData) {
                        $('#ddlInternalCode').append("<option  ten='" + optionData.FullName + "' value='" + optionData.IDUser + "'>" + optionData.Code + "</option>");
                    });
                }
                $('#ddlInternalCode').val(maNV);
                $('#ddlInternalCode').trigger("change");
                $('#ddlInternalCode').chosen().trigger("chosen:updated");

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    var filesUpload = [];
        var lstFile = null;
        function LayDSTaiLieu() {
            $.ajax({
                type: "GET",
                url: '/hoso/tailieu',
                success: function (data) {
                    if (data.data != null) {
                        var i = 0;
                        let iconSvg = '<svg class="svg-next-icon svg-next-icon-size-30" width="30" height="30">'
                             +'<svg xmlns = "http://www.w3.org/2000/svg" x = "0px" y = "0px" viewBox = "0 0 490.667 490.667" fill = "#6C798F" >'
                               + '<path d="M448,128h-67.627l-39.04-42.667H192v64h-64v64H64v213.333c0,23.467,19.2,42.667,42.667,42.667H448c23.467,0,42.667-19.2,42.667-42.667v-256C490.667,147.2,471.467,128,448,128z M277.333,405.333c-58.88,0-106.667-47.787-106.667-106.667S218.453,192,277.333,192S384,239.787,384,298.667S336.213,405.333,277.333,405.333z">'
                                +'</path>'
                                +'<polygon points="64,192 106.667,192 106.667,128 170.667,128 170.667,85.333 106.667,85.333 106.667,21.333 64,21.333 64,85.333 0,85.333 0,128 64,128">'
                                +'</polygon>'
                               +'<path d="M277.333,230.4c-37.76,0-68.267,30.507-68.267,68.267h0c0,37.76,30.507,68.267,68.267,68.267c37.76,0,68.267-30.507,68.267-68.267S315.093,230.4,277.333,230.4z"></path>'
                                            +'</svg ></svg >'
                        var htmlContent = "";
                        $.each(data.data, function (index, optionData) {
                            let controlId = "upload-area-" + optionData.ID;
                            let display =''
                            if (optionData.BatBuoc > 0)
                                display = '<p class="mb-0 mt-2 text-secondary">' + optionData.Ten + '<span class=\"required\">(*)</span></p>';
                            else
                                display = '<p class="mb-0 mt-2 text-secondary">' + optionData.Ten + '</p>';
                            htmlContent += '<li class="ui-product-photo-item d-block">'
                                + '<div class="file-upload position-relative is-dragging" id="' + controlId +'"> '
                                + '<div class="dz-message needsclick" > '
                                + ' <div class="fileupload-text text-center">'
                                + iconSvg
                                + display
                                + '</div></div></div></li>'


                        });
                        $('#ds-hoso').append(htmlContent);
                        $.each(data.data, function (index, item) {
                            let controlId = "upload-area-" + item.ID;
                            generateDropzone(controlId, item.ID,index);
                        });
                    }
                }
            })
        }
        var files =[]
        function generateDropzone(controlId, key,index) {

            var dropzone = new Dropzone('#' + controlId, {
                url: "/file/post",
                createImageThumbnails: true,
                autoProcessQueue: false,
                autoDiscover: false,
                thumbnailHeight: 120,
                thumbnailWidth: 120,
                maxFiles:5,
                init: function () {

                }

            });
            dropzone.on("maxfilesexceeded", function (file) {
                alert("Chỉ được upload tối đa 5 file cho 1 loại hồ sơ");
                return;
            })
            dropzone.on("addedfile", function (file) {
                var _this = this;

                let removeButton = Dropzone.createElement('<a class="dz-remove" id="' + index + '" href="javascript:undefined;" data-dz-remove>Xóa</a>');
                removeButton.addEventListener("click", function (e) {

                    e.preventDefault();
                    e.stopPropagation();
                    let index = filesUpload.findIndex(p => p.key == key);
                    if (index >= 0) {
                        filesUpload[index].files = filesUpload[index].files.filter(p => p.upload.uuid != file.upload.uuid);
                        if (isNullOrNoItem(filesUpload[index].files)) {
                            filesUpload.splice(index, 1);
                        }
                    }
                    _this.removeFile(file);
                });
                file.previewElement.appendChild(removeButton);
                let sameFilesKey = filesUpload.find(p => p.key == key)
                if (!isNullOrUndefined(sameFilesKey) && sameFilesKey.files.length == _this.options.maxFiles) {
                    _this.removeFile(file);
                    return;
                }
                if (isNotValidFileSize(file)) {
                    alert("File vượt quá kích thước cho phép là 20 MB");
                    _this.removeFile(file);
                    return;
                }
                    if (isNullOrNoItem(filesUpload)) {
                        filesUpload = []
                    }
                    let existKeyIndex = filesUpload.findIndex(p => p.key == key)
                    if (existKeyIndex < 0) {
                        filesUpload.push({ key: key, files: [file] })
                    }
                    else {
                        if (filesUpload[existKeyIndex].files == null)
                            filesUpload[existKeyIndex].files = []
                        filesUpload[existKeyIndex].files.push(file);
                    }



            });
        }

    function renderGhichu(noidung) {
        if (isNullOrWhiteSpace(noidung))
            return
        $('#dsGhichu').prepend(
            '<div class="timeline-event-content  active">' +
                '<div class="timeline-item">' +
                    '<div class="timeline-body">' +
                        '<div class="timeline__message-container">'
                            + noidung +
            '</div></div></div></div>'

        )
    }
    function getModel() {
        hoso.TenKhachHang = $('#txtHoTen').val();
        hoso.SDT = $('#txtDienThoai').val();
        hoso.SDT2 = $('#txtDienThoai2').val();
        hoso.ngaynhandon = $('#txtToDate').val();
        hoso.CMND = $('#txtCMND').val();
        hoso.GioTinh = parseInt($('#ddlGioiTinh').val());
        hoso.MaKhuVuc = parseInt($('#ddlHuyen').val());
        hoso.DiaChi = $('#txtDiaChi').val();
        hoso.CourierCode = parseInt($('#ddlCourier').val());
        hoso.Sanphamvay = parseInt($('#ddlSanPhamVay').val());
        hoso.TenCuaHang = $('#txtTenCuaHang').val();
        hoso.CoBaoHiem = $('#cbbaohiem').is(":checked") == false ? 0 : 1;
        hoso.HanVay = parseInt($('#spnThoiHanVay').val());
        hoso.Ghichu = $('#txtGhiChu').val();
        hoso.Doitac = parseInt($('#ddlDoiTac').val());
        hoso.files = null;
        hoso.SoTienVay = isNullOrWhiteSpace($('#txtTienDeNghiVay').val().replace(/\./g, '')) ? 0 : parseFloat($('#txtTienDeNghiVay').val().replace(/\./g, ''));
        return hoso;
    }
    $('#btn_Temp').click(function (e) {
        let model = getModel();
        if (isNullOrUndefined(hoso))
            return;
        if (isNullOrWhiteSpace(model.TenKhachHang)) {
            showMessage("@Html.Raw(Global.Message_Title)", customer_name_must_not_be_empty)
            return;
        }
        if (model.Doitac == 0 || isNullOrUndefined(model.Doitac)) {
            showMessage("@Html.Raw(Global.Message_Title)", select_partner)
            return;
        }
        if (model.Sanphamvay == 0 || isNullOrUndefined(model.Sanphamvay)) {
            showMessage("@Html.Raw(Global.Message_Title)", select_product)
            return;
        }
        $.ajax({
            traditional: true,
            url: '/hoso/draft',
            type: "POST",
            contentType: "application/json;",
            dataType: 'json',
            data: JSON.stringify(model),
            success: function (data) {
                if (data.success == true && data.data > 0) {
                    showMessage("@Html.Raw(Global.Message_Title)", success_message, true, true, function () {
                        hoso.ID = data.data;
                        renderGhichu(hoso.Ghichu)
                        hoso.Ghichu = ''
                        $("#txtGhiChu").val('')
                        $.each(filesUpload, function (i, item) {
                            uploadHoso(hoso.ID, item.key, item.files, true);
                        })
                    })
                }
                else {
                    showMessage("@Html.Raw(Global.Message_Title)", data.error.code)
                }

            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });

    });

    $('#btn_Save').click(function (e) {
        let model = getModel();
        if (isNullOrUndefined(hoso))
            return;
        if (isNullOrWhiteSpace(model.TenKhachHang)) {
            showMessage("@Html.Raw(Global.Message_Title)", customer_name_must_not_be_empty)
            return;
        }
        if (model.Doitac == 0 || isNullOrUndefined(model.Doitac)) {
            showMessage("@Html.Raw(Global.Message_Title)", select_partner)

            return;
        }
        if (model.Sanphamvay == 0 || isNullOrUndefined(model.Sanphamvay)) {
            showMessage("@Html.Raw(Global.Message_Title)", select_product)
            return;
        }
        if (isNullOrWhiteSpace(model.SDT)
            || model.SDT.length != 10) {
            showMessage("@Html.Raw(Global.Message_Title)", invalid_phone)

            return;
        }
        if (isNullOrWhiteSpace(model.SDT2)
            || model.SDT2.length != 10) {
            showMessage("@Html.Raw(Global.Message_Title)", invalid_employee_phone);
            return;
        }
        if (isNullOrWhiteSpace(model.CMND) ||
            (model.CMND.length != 9 && model.CMND.length != 12)) {
            showMessage("@Html.Raw(Global.Message_Title)", invalid_id_number);
            return;
        }
        model.files = filesUpload
        $.ajax({
            traditional: true,
            url: '/hoso/submit',
            type: "POST",
            contentType: "application/json;",
            dataType: 'json',
            data: JSON.stringify(model),
            success: function (data) {
                if (data.success == true && data.data>0) {
                    swal({
                        title: "@Html.Raw(Global.Message_Title)",
                        text: data.Message.ErrorMessage,
                        type: "success",
                        timer: 4000,
                        showConfirmButton: true,
                    }, function () {
                        uploadHoso(data.ID, item.key, item.files, false);
                    });
                }
                else {
                    showMessage("@Html.Raw(Global.Message_Title)", data.error.code)
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
    });
        function uploadHoso(hosoId, key, files, isDraft) {
            if (isNullOrUndefined(hosoId) || isNullOrWhiteSpace(key))
                return;
            if (isNullOrNoItem(filesUpload))
                return;
            let formData = new FormData();
            for (let i = 0; i != filesUpload.length; i++) {
                if (!isNullOrNoItem(filesUpload[i].files)) {
                    for (let j = 0; j < filesUpload[i].files.length; j++) {
                        formData.append("files",filesUpload[i].files[j] );
                        formData.append("files",  filesUpload[i].key);
                    }
                }

            }
            let model = filesUpload
            $.ajax({
                url: '/hoso/uploadhoso/' + hosoId + "/test",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
            success: function (data) {
                if (data.success == true) {

                }
                else {
                    showMessage("@Html.Raw(Global.Message_Title)", data.error.code)
                }
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            },
            complete: function () {
                $('#panel_body').unblock();
            },
        });
        }
        $('#btn_Upload').click(function (e) {
            uploadHoso(12, "2", null, false)

    });
    </script>
